button {

    padding: 10px;
    border-radius: 5px;
    background-color: #007fff;
    color: white;

}

.ui-dialog-buttonset button{

    background-color: #007fff !important;
    padding: 10px !important;
    border-radius: 5px !important;
    color: white !important;

}



input, textarea {
    border-radius: 5px;
    background-color: lightgray;
    width: 550px;
    
}

input{
    height: 50px;
}
textarea{
    height:100px;
}

label span{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

img{
    width: 100px;
    height: 100px;   
    border-radius: 10px;
    box-shadow: 8px 8px lightblue;
    transition: width 2s, height 4s;
    
    
}

img:hover{
    width: 150px;
    height: 150px;
}
